/*
引用到的字体文件图标
*/
@font-face
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1495678086709'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1495678086709#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont.woff?t=1495678086709') format('woff'), /* chrome, firefox */ url('../fonts/iconfont.ttf?t=1495678086709') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../fonts/iconfont.svg?t=1495678086709#iconfont') format('svg');

/* iOS 4.1- */

/* iOS 4.1- */

[class^="icon-"], [class*=" icon-"]
  font-family: "iconfont" !important
  font-size: 22px
  font-style: normal
  -webkit-font-smoothing: antialiased
  -webkit-text-stroke-width: 0.2px
  -moz-osx-font-smoothing: grayscale

.icon-pai:before {
  content: "\356f";
}

.icon-gengduo:before {
  content: "\3432";
}

.icon-chakanxiangxi:before {
  content: "\e65e";
}

.icon-dangan:before {
  content: "\e617";
}

.icon-msnui-menu-left:before {
  content: "\e65a";
}

.icon-xiaoxi:before {
  content: "\e698";
}

.icon-xiangxidizhi:before {
  content: "\e6cd";
}

.icon-trafficaccident:before {
  content: "\e60a";
}

.icon-bianji:before {
  content: "\e69b";
}

.icon-wode:before {
  content: "\e615";
}

.icon-baoming:before {
  content: "\e62a";
}

.icon-xiaoxi1:before {
  content: "\e619";
}

.icon-xiaoxi2:before {
  content: "\e65b";
}

.icon-lajitong:before {
  content: "\e605";
}

.icon-iconfontque:before {
  content: "\e65c";
}

.icon-iconfontjiangli:before {
  content: "\e60b";
}

.icon-zhuangtai:before {
  content: "\e721";
}

.icon-note:before {
  content: "\e643";
}

.icon-iconfontright-copy:before {
  content: "\e626";
}

.icon-tongzhi:before {
  content: "\e61b";
}

.icon-jinxingzhong:before {
  content: "\e759";
}

.icon-shangban:before {
  content: "\e62f";
}

.icon-yiwancheng:before {
  content: "\e646";
}

.icon-tongzhi1:before {
  content: "\e673";
}

.icon-tongxun:before {
  content: "\e647";
}

.icon-saoyisao:before {
  content: "\e6a4";
}

.icon-jieshu:before {
  content: "\e624";
}

.icon-ren:before {
  content: "\f008e";
}

.icon-daoluyunshuhuoyunliang:before {
  content: "\e73f";
}

.icon-licheng:before {
  content: "\e652";
}

.icon-profile:before {
  content: "\e61f";
}

.icon-icon201:before {
  content: "\e6c7";
}

.icon-shouye-shouye:before {
  content: "\e632";
}

.icon-wenda:before {
  content: "\e611";
}

.icon-kaoshi:before {
  content: "\e607";
}

.icon-peixun:before {
  content: "\e6c8";
}

.icon-gongzuo:before {
  content: "\e604";
}

.icon-tongxunlu:before {
  content: "\e664";
}

.icon-xiangxiguize:before {
  content: "\e65d";
}

.icon-yunshu:before {
  content: "\e984";
}

.icon-gongshixitong:before {
  content: "\e74a";
}

.icon-Group:before {
  content: "\e62b";
}

.icon-xiangxia:before {
  content: "\e648";
}

.icon-kaoqinyuanshijilu:before {
  content: "\e649";
}

.icon-modify:before {
  content: "\e71e";
}

.icon-xiaban:before {
  content: "\e616";
}

.icon-jiaotongshigu:before {
  content: "\e95b";
}

.icon-yitongguo:before {
  content: "\e7a7";
}

.icon-yibaoming:before {
  content: "\e63c";
}

.icon-xiangxi:before {
  content: "\e6ef";
}

.icon-ziyuan:before {
  content: "\e60c";
}

